# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/ephemeral/

# Web
web/.dart_tool/
web/build/

# Windows
windows/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# IDEs
.vscode/
.idea/

# Environment / secrets
.env
